<template name="cars">
	<div class="container-fluid">
		<div class="row">
			<div id="cars" class="generic-wrapper col-md-12">
				<h2> Cars </h2>
				<div class="generic-form row">
					{{> carForm }}
				</div>
				<div class="row">
					{{> carsList }}
				</div>
			</div>
			<div id="drivers" class="generic-wrapper col-md-12">
				<h2> Drivers </h2>
				<div class="generic-form row">
					{{> driverForm }}
				</div>
				<div class="row">
					{{> driversList }}
				</div>
			</div>
		</div>
	</div>	
</template>
