<template name="activeDriverItem">
  <div class="driver status-{{status}} col-sm-12" data-js="driver">
    <div class="short-info row">
      <div class="rider-info {{overfilled}} col-sm-4">{{driverName}} ({{passengers}}/{{carCapacity}} full)
      </div>
      <div class="phone col-sm-3">{{driverPhone}}</div>
      <div class="carName col-sm-3">{{carName}}</div>
      <div class="driver-buttons col-sm-2 btn-group">
        <span class="expand-button glyphicon glyphicon-chevron-down" data-js="handle"></span>
        <span class="remove-button glyphicon glyphicon-remove" data-js="delete"></span>
      </div>
    </div>
    <div class="additional-info row" data-js="additional-info">
      <div class="extra-info col-sm-12">
        <div class="row">
          <div class="col-sm-10">
            <span class="comments-label">Instructions when complete: </span>
            <span name="comments" class="comments">{{instruction}}</span>
          </div>
          <div class="col-sm-2 text-right">
            {{#if textable}}
              <a data-js="text">Text</a>
            {{/if}}
          </div>
        </div>
      </div>    
      <div class="ride-container col-sm-12">
        {{#each listRides}}
          {{> rideItem}}
        {{/each}}
      </div>
    </div>
  </div>
</template>
