<template name="carItem">
  <div class="{{editingClass}} car col-xs-12">
    <div class="short-info row">
      <form>
        <div class="col-xs-4">
          <span name="name" data-input="true" contentEditable={{editing}}>{{name}} </span>
        </div>
        <div class="col-xs-4">
          <span name="description" data-input="true" contentEditable={{editing}}>{{description}} </span>
        </div>
        <div class="col-xs-2">
          <span name="capacity" data-input="true" contentEditable={{editing}}> {{capacity}} </span>
        </div>
        <div class="col-xs-22">
          {{#if editing}}
            <button type="submit" class="no-style-button">
              <span class="edit-button glyphicon glyphicon-check" data-js="edit"></span>
            </button>
          {{else}}
            <span class="glyphicon glyphicon-edit" data-js="edit"></span>
          {{/if}}
          <span class="glyphicon glyphicon-remove" data-js="delete"></span>
        </div>
      </form>
    </div>
  </div>
</template>
