<template name="driverForm">
	<div class="col-md-12">
	    <h3> Add A Driver </h3>
	    <form>
	        <input name="name" type="text" value="" placeholder="Name"/>
	        <input name="phone" type="text" value="" placeholder="Phone Number" />
	        <input name="capacity" type="text" value="" placeholder="Number of available seats"/>
	        <textarea name="comments" value="" placeholder="Comments"></textarea>
	        <input type="submit" value="Deploy" class="btn btn-primary submit"/>
	    </form>
	</div>
</template>
