<template name="driverItem">
  <div class="driver status-{{status}} col-xs-12" data-js="driver">
    <div class="short-info row">
      <div class="rider-info col-xs-5">{{name}} ({{passengers}}/{{capacity}} full)
      </div>
      <div class="phone col-xs-4">{{phone}}</div>
      <div class="driver-buttons col-xs-3 btn-group">
        <span class="expand-button glyphicon glyphicon-chevron-down" data-js="handle" data-target="additional-info-{{_id}}"></span>
        <!-- don't need data-target-id here now? -->
        <span class="remove-button glyphicon glyphicon-remove" data-js="delete"></span>
      </div>
    </div>
    <div class="additional-info row" data-js="additional-info-{{_id}}">
      <div class="extra-info col-xs-12">
				<div class="row">
					<div class="col-xs-8">
						<span class="comments-label">Comments: </span>
						<span name="comments" class="comments">{{comments}}</span>
					</div>
					<div class="col-xs-4">
						{{#if textable}}
							<span><button class="btn btn-primary btn-block" data-js="text"> Text </button></span>
						{{/if}}
					</div>
				</div>
      </div>    
      <div class="ride-container col-xs-12">
        {{#each listRides}}
          {{> rideItem}}
        {{/each}}
      </div>
    </div>
  </div>
</template>
