<template name="driverItem">
    <div class="driver col-xs-12" data-js="driver">
        <div class="short-info row">
            <div class="rider-info col-xs-5">{{name}} ({{passengers}}/{{capacity}} full)
            </div>
            <div class="phone col-xs-4">{{phoneNumber}}</div>
            <div class="driver-buttons col-xs-3 btn-group">
                <span class="expand-button glyphicon glyphicon-chevron-down" data-js="handle" data-target="additional-info-{{_id}}"></span>
                <!-- don't need data-target-id here now? -->
                <span class="remove-button glyphicon glyphicon-remove" data-js="delete"></span>
            </div>
        </div>
        <div class="additional-info row" data-js="additional-info-{{_id}}">
            <div class="col-xs-12">
                <span class="comments-label">Comments: </span>
                <span name="comments" class="comments">{{comments}}</span>
            </div>      
            <div class="ride-container col-xs-12">
                {{#each rides}}
                    {{> rideItem}}
                {{/each}}
            </div>
        </div>
    </div>
</template>
