<template name="driverForm">
  <div class="driver-drawer-target col-md-12" data-js="driver-form">
    <h4> Add A Driver </h4>
    <div class="col-md-12">
      <form>
        <div class="input-row row">
          <div class="col-md-4">
            <input class="form-control" name="name" type="text" value="" placeholder="* Name" data-input='true'/>
          </div>
          <div class="col-md-4">
            <input class="form-control" name="phone" type="text" value="" placeholder="* Phone" data-input='true'/>
          </div>
          <div class="col-md-4">
            <input class="form-control" name="capacity" type="text" value="" placeholder="* Capacity" data-input='true'/>
          </div>
        </div>
        <div class="input-row row">
          <div class="col-md-8">
            <textarea class="form-control" name="comments" value="" placeholder="Comments" data-input='true'></textarea>
          </div>
          <div class="col-md-4">
            <input type="submit" value="Deploy" class="btn btn-primary btn-block submit submit-form"/>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="driver-drawer-handle-wrapper col-md-12">
    <span class="driver-drawer-handle glyphicon glyphicon-chevron-up" data-js="handle" data-target="driver-form"></span>
  </div>
</template>
