<template name="driverForm">
  <div class="col-md-12" data-js="driver-form">
    <h4> Add A Driver </h4>
    <div class="col-md-12">
      <form>
        <div class="input-row row">
          <div class="col-md-4">
            <input class="form-control" name="name" type="text" value="" placeholder="* Name" data-input='true'/>
          </div>
          <div class="col-md-4">
            <input class="form-control" name="phone" type="text" value="" placeholder="* Phone" data-input='true'/>
          </div>
					<div class="col-md-4">
						<select class="form-control" name="carId" data-input='true'>
							{{#each unAssignedCars }}
								<option value="{{_id}}">{{name}}</option>
							{{/each}}
						</select>
					</div>
        </div>
        <div class="input-row row">
          <div class="col-md-8">
            <textarea class="form-control" name="instruction" value="" placeholder="Instructions when complete" data-input='true'></textarea>
          </div>
          <div class="col-md-4">
            <input type="submit" value="Add Driver" class="btn btn-primary btn-block submit-form"/>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="driver-drawer-handle-wrapper col-md-12">
    <span class="driver-drawer-handle glyphicon glyphicon-chevron-up" data-js="handle"></span>
  </div>
</template>
