<template name="rideForm">
  <div class="col-md-12" data-js="ride-form">
    <h4> Add a Ride </h4>
    <div class="col-md-12">
      <form>
        <div class="input-row row">
          <div class="col-md-4">
            <input name="name" class="form-control ui-form-element" type="text" value="" placeholder="* Name" data-input="true" />
          </div>
          <div class="col-md-8">
            <input name="time" class="form-control ui-form-element" type="datetime-local" value="{{currentTime}}" data-input="true" data-default="{{currentTime}}"/>
          </div>
        </div>
        <div class="input-row row">
          <div class="col-md-6">
            <input name="phone" class="form-control ui-form-element" type="text" value="" placeholder="* Phone" data-input="true" />
          </div>
          <div class="col-md-6">  
            <input name="passengers" class="form-control ui-form-element" type="text" value="" placeholder="* Num. People" data-input="true"/>
          </div>
        </div>
        <div class="input-row row">
          <div class="col-md-6">  
            <input name="pickup" class="form-control ui-form-element" type="text" value="" placeholder="* Pickup Location" data-input="true"/>
          </div>
          <div class="col-md-6">  
            <input name="dropoff" class="form-control ui-form-element" type="text" value="" placeholder="Dropoff Location" data-input="true"/>
          </div>
        </div>
        <div class="input-row row">
          <div class="col-md-8">
            <textarea name="comments" class="form-control ui-form-element" value="" placeholder="Comments" data-input="true"></textarea>
          </div>
          <div class="col-md-4">
            <input type="submit" class="submit-form btn btn-primary btn-block" id="add-ride" value="Queue Ride"/>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="ride-drawer-handle-wrapper col-md-12">
    <span class="ride-drawer-handle glyphicon glyphicon-chevron-up" data-js="handle"></span>
  </div>
</template>
