<template name="driverAcked">
  <div class="driver-ui-rides-list">
    {{#each assignedRides}}
      <div class="{{isFound}} {{isNotFound}} driver-ui-ride row">
        <div class="col-xs-12">
            {{> rideItem }}
            {{> rideOptions}}
        </div>
      </div>
    {{/each}}
  </div>
  <div class="complete-trip-button-container row">
    <div class="col-xs-12">
      <button data-js="complete-trip" class="btn btn-block btn-success"> Complete Trip </button>
    </div>
  </div>
</template>
