<template name="driverForm">
    <h3> Deploy A Driver </h3>
    <form>
        <div class="control-group">
            <label class="control-label" for="name"> Name </label>
            <div class="controls">
                <input name="name" type="text" value="" placeholder="Driver's code name"/>
            </div> 
        </div>

        <div class="control-group">
            <label class="control-label" for="capacity"> Seats  </label>
            <div class="controls">
                <input name="capacity" type="text" value="" placeholder="Number of available seats"/>
            </div> 
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Deploy" class="btn btn-primary submit"/>
            </div> 
        </div>
        
    </form>
</template>
