<template name="rick">
    <div id="ride-wrapper" class="generic-wrapper col-xs-6">
        <h2>Rides</h2>
        <div id="ride-form" class="generic-form row">
            {{> rideForm }}
        </div>
        <div id="ride-queue" class="row">
            {{> rideQueue}}
        </div>
    </div>
    <div id="driver-wrapper" class="generic-wrapper col-xs-5 col-xs-offset-1">
        <h2>Drivers</h2>
        <div id="driver-form" class="generic-form row">
            {{> driverForm }}
        </div>
        <div id="drivers-list" class="row">
            {{> driversList }}
        </div>
    </div>
</template>
