<template name="rideForm">
    <h3> Add a Ride </h3>

    <form>
        <div class="control-group">
            <label class="control-label" for="name"> Name </label>
            <div class="controls">
                <input name="name" type="Text" value="" placeholder="Kevin Tian's Nickname For Him"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="phone-number"> Phone Number  </label>
            <div class="controls">
                <input name="phone-number" type="Text" value="" placeholder="Phone Number" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="occupancy"> # People </label>
            <div class="controls">
                <input name="occupancy" type="Text" value="" placeholder="Number of People"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="location"> Location  </label>
            <div class="controls">
                <input name="location" type="Text" value="" placeholder="Location" />
            </div>
        </div>
    </form>
</template>
