/*.comp {
    width: 33%;
    display: inline-block;
}
*/
/* Generic list styling */
/*.driver, .ride {
    opacity: 1;
    -webkit-transition: all 300ms 0ms;
    -webkit-transition-delay: ease-in;
    -moz-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in;
    position: relative;
}

.driver:before, .driver:after, .ride:before, .ride:after {
    content: "";
    display: table;
}

.driver, .ride{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}*/

/* Driver list styling */
/*#driver-form {
    display: none;
}

*/

.input-field {
    width: 100%;
    max-width: 100%;
}

.submit-form {
    margin-top: 10px;
    width: 100%;
    height: 100%;
}

.ride-drawer-handle-wrapper {
    text-align: center;
}

.ride-drawer-handle {
    color: #888888;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ride-drawer-handle:hover {
    color: #666666;
    cursor: pointer;
}

.ride-drawer-target {
    display: none;
}

.driver-drawer-handle-wrapper {
    text-align: center;
}

.driver-drawer-handle {
    color: #888888;
    padding-top: 5px;
    padding-bottom: 5px;
}

.driver-drawer-handle:hover {
    color: #666666;
    cursor: pointer;
}

.driver-drawer-target {
    display: none;
}