/*.comp {
    width: 33%;
    display: inline-block;
}
*/
/* Generic list styling */
/*.driver, .ride {
    opacity: 1;
    -webkit-transition: all 300ms 0ms;
    -webkit-transition-delay: ease-in;
    -moz-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in;
    position: relative;
}

.driver:before, .driver:after, .ride:before, .ride:after {
    content: "";
    display: table;
}

.driver, .ride{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}*/

/* Driver list styling */
/*#driver-form {
    display: none;
}

*/