.completed-container {
  margin: 0 16px;
}

.completed-filters input {
  margin-right: 4px;
}

.rides-dump {
  float: right;
}

.spinner {
  float:right;
  display: none;
}

td .label {
  margin-left: 4px;
}
