<template name="rick">
	<!--
  <div class="col-sm-12 text-center">
    <button data-js="reset" class="reset-button btn btn-danger">Reset</button>
  </div>
	-->
  <div class="container-fluid">
    <div class="row">
      <div id="ride-wrapper" class="generic-wrapper col-md-12">
        <h2>Rides</h2>
        <div id="ride-form" class="generic-form row">
          {{> rideForm }}
        </div>
        <div id="ride-queue" class="row">
          {{> rideQueue}}
        </div>
      </div>
      <div id="driver-wrapper" class="generic-wrapper col-md-12">
        <h2>Drivers</h2>
        <ul class="nav nav-tabs">
          <li><a href="#active-drivers">Deploy</a></li>
          <li><a href="#drivers">New</a></li>
        </ul>
        <br>
        <div id="active-drivers">
          <div id="driver-form" class="generic-form row">
            {{> activeDriverForm }}
          </div>
          <div id="drivers-list" class="row">
            {{> activeDriversList }}
          </div>
        </div>
        <div id="drivers">
          <div class="generic-form row">
            {{> driverForm }}
          </div>
          <div class="row">
            {{> driversList }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="cars" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title"> Cars </h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div>
                {{> carForm }}
              </div>
              <div>
                {{> carsList }}
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
        </div>
      </div>
    </div>
  </div>
</template>
