.centered {
  margin-left: auto;
  margin-right: auto;
}

.generic-wrapper {
  float: left;
  width: 48%;
  margin: 1%;
}

.generic-wrapper h2 {
	text-align: center;
}

.generic-form {
  margin-bottom: 10px;
	background-color: #eaeaea;
}

.ui-form-element {
  margin-bottom: 10px;
}

.submit-form {
  width: 100%;
  vertical-align: center;
}

/* Form drawer handle */
.ride-drawer-handle-wrapper, .driver-drawer-handle-wrapper {
  text-align: center;
}

.ride-drawer-handle, .driver-drawer-handle {
  color: #888888;
  padding-top: 5px;
  padding-bottom: 5px;
}

.ride-drawer-handle:hover, .driver-drawer-handle:hover {
  color: #666666;
  cursor: pointer;
}

/* Generic item */

.short-info {
  padding-top: 5px;
  padding-bottom: 5px;
}

.additional-info {
  display: none;
  border-top: thin solid #777777;
  padding-top: 5px;
  padding-bottom: 5px;
}
