<template name="rick">
  <div class="col-sm-12 text-center">
    <button data-js="reset" class="reset-button btn btn-danger">Reset</button>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div id="ride-wrapper" class="generic-wrapper col-md-12">
        <h2>Rides</h2>
        <div id="ride-form" class="generic-form row">
          {{> rideForm }}
        </div>
        <div id="ride-queue" class="row">
          {{> rideQueue}}
        </div>
      </div>
      <div id="driver-wrapper" class="generic-wrapper col-md-12">
        <h2>Active Drivers</h2>
        <div id="driver-form" class="generic-form row">
          {{> activeDriverForm }}
        </div>
        <div id="drivers-list" class="row">
          {{> activeDriversList }}
        </div>
      </div>
    </div>
  </div>
</template>
