<template name="rideForm">
    <div class="ride-drawer-target col-md-12">
        <h3> Add a Ride </h3>
        <div class="col-md-12">
            <form>
                <div class="row">
                    <div class="col-md-4">
                        <input name="name" class="input-field" type="text" value="" placeholder="Name" />
                    </div>
                    <div class="col-md-4">
                        <input name="time" class="input-field" type="text" value="" placeholder="Pickup Time" />
                    </div>
                    <div class="col-md-4">
                        <input name="phone" class="input-field" type="text" value="" placeholder="Phone Number" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">    
                        <input name="passengers" class="input-field" type="text" value="" placeholder="Number of People"/>
                    </div>
                    <div class="col-md-4">    
                        <input name="pickup" class="input-field" type="text" value="" placeholder="Pickup Location" />
                    </div>
                    <div class="col-md-4">    
                        <input name="dropoff" class="input-field" type="text" value="" placeholder="Dropoff Location" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <textarea name="comments" class="input-field" value="" placeholder="Comments"></textarea>
                    </div>
                    <div class="col-md-4">
                        <input type="submit" class="submit-form" id="add-ride" value="Queue Ride" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="ride-drawer-handle-wrapper col-md-12">
        <span class="ride-drawer-handle glyphicon glyphicon-chevron-down"></span>
    </div>
</template>
