.ride {
  background-color: transparent;
  border: thin solid #444444;
  cursor: pointer;
  border-radius: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.ride.selected {
  background-color: #ffffaa;
}

.ride.editing {
  border: thin dashed #ff0000;
  background: url('images/stripe.png') repeat;
}

.ride.status-found > form > .short-info {
  /* green highlight */
}

.ride.status-not-found > form > .short-info {
  /* red highlight */
}

/* contenteditable tries to set background-color: white when it is set to false
  the following styling prevents this from happening for our editable elements */
.ride form div div span {
  background-color: transparent !important;
}

.ride-buttons {
  text-align: right;
}

.ride-buttons span {
  color: #888888;
  padding-left: 5px;
}

.ride-buttons span:hover {
  cursor: pointer;
}

.expand-button:hover {
  color: #666666;
}

.edit-button:hover {
  color: #99dd99;
}

.unassign-button:hover {
  color: #ffaa33;
}

.delete-button:hover {
  color: #dd3333;
}

.no-style-button {
  background-color: transparent;
  border: none;
  padding: 0px;
  margin: 0px;
}