<template name="rideItem">
    <div class="ride col-sm-12" data-js="ride" data-id="{{_id}}">
        <div class="personal-info">
            <div class="time col-sm-2">{{time}}</div>
            <div class="rider-info col-sm-7">
                <div>
                    <div class="name col-sm-12">{{name}} ({{passengers}})</div>
                </div>
                <div>
                    <div class="phone col-sm-12">{{phone}}</div>
                </div>
            </div>
            <div class="status col-sm-3">{{status}}</div>
        </div>
        <div class="location-info">
            <div class="pickup-info col-sm-3 col-sm-offset-2">{{pickup}}</div>
            <div class="col-sm-2"><span class="glyphicon glyphicon-arrow-right"></span></div>
            <div class="dropoff-info col-sm-3">{{dropoff}}</div>
        </div>
        <div>
            <div class="comments col-sm-12">{{comments}}</div>
        </div>
    </div>
</template>
