<template name="rideForm">
    <div class="col-md-12">
        <h3> Add a Ride </h3>

        <form>
            <input name="name" type="text" value="" placeholder="Name" />
            <input name="time" type="text" value="" placeholder="Pickup Time" />
            <input name="phone" type="text" value="" placeholder="Phone Number" />
            <input name="passengers" type="text" value="" placeholder="Number of People"/>
            <input name="pickup" type="text" value="" placeholder="Pickup Location" />
            <input name="dropoff" type="text" value="" placeholder="Dropoff Location" />
            <textarea name="comments" value="" placeholder="Comments"></textarea>
            <input type="submit" id="add-ride" value="Queue Ride" />
        </form>
    </div>
</template>
