.ride {
	background-color: white;
	border: thin solid #cccccc;
	border-radius: 2px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.short-info {
	padding-top: 5px;
	padding-bottom: 5px;
}

.ride-buttons {
	text-align: right;
}

.ride-buttons span {
    color: #888888;
}

.ride-buttons span:hover {
    color: #666666;
    cursor: pointer;
} 

.additional-info {
	display: none;
	border-top: thin solid #dddddd;
	padding-top: 5px;
	padding-bottom: 5px;
}